.toast {
	position: absolute;
	top: 60px;
	right: 0;

	transition: 0.3s ease-in-out;

	animation: 0.3s show ease-in-out;
}

.toast-out {
	animation: hide 0.3s ease-in-out;
}

@keyframes show {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes hide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
